@font-face {
    font-family: 'raleway';
    src:url(../fonts/raleway.ttf)
}
body
{
    font-family: 'raleway';
    font-size: smaller;
    margin: 2px 10px;
}
header
{
    
    height: 80px;
    
    flex-wrap: wrap;
}
.head
{
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.reservia
{
    width: 100px;
    height:40px;
}
.boxv2 p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width:60%
}
.navlink, .signup
{
    text-align: center;
    /*display: inline;*/
    padding: 20px;
    border-top: 3px transparent solid;
    width: 120px;
}
a
{
    text-decoration-line: none;
    text-decoration-color: black;
    color: black;
}
.signup
{
    color: #0065FC;
    font-weight: bold;
    cursor: pointer;
}
.navlink:hover
{
    border-top: 3px solid #0065FC;
    color: #0065FC;
}
.nav
{
    flex: 1;
    justify-content: flex-end;
}
h1
{
    margin: 0px;
    margin-bottom: 5px;
}
.searchbar
{
    display: inline-flex;
    margin-top: 10px;
}
.searchbar span
{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #F2F2F2;
    padding: 8px 12px;
    text-align: center;
}
.searchbartext
{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    font-weight: bold;
    padding-left: 10px;
}
.submit
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 0px;
    padding: 0px 10px;
    cursor: pointer;
}
.submit:hover
{
    background-color: #DEEBFF;
    color: #0065FC;
}
.submitIcon
{
    display: none;
}
.submitIcon:hover
{
    background-color: #DEEBFF;
}
.submitIcon:hover i
{
    color: #0065FC;
}
.filtresection
{
    align-items: center;
}
.flexfiltre
{
    flex-wrap: wrap;
    min-width: 250px;
    margin-left: 15px;
}
.filtre
{   
    border-radius: 20px;
    border: 2px solid #e6e6e6;
    height: 25px;
    align-items: center;
    background-color: white;
    padding: 0px;
    cursor: pointer;
    font-family: 'raleway';
    font-size: smaller;
    font-weight: bolder;
    margin-right: 20px;
    margin-bottom: 5px;
}
.filtre:hover
{
    border: 2px solid #0065FC;
    color: #0065FC;
    background-color: #F2F2F2;
}
.filtre:hover i
{
    background-color: #0065FC;
    color: #DEEBFF;
}
.iconfiltre i
{
    background-color: #DEEBFF;
    padding: 6px;
    border-radius: 20px;
    color: #0065FC;
    margin-left: -2px;
    width: 13px;
    height: 13px;
    align-items: center;
    justify-content: center;
}
.fa-money-bill-wave
{
    align-items: center;
    justify-content: center;
}
.filtretext
{
    margin-left: 5px;
    margin-right: 5px;
}

.infocircle
{
    border-radius: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.infotext
{
    margin: 5px;
}
.infocircleicon i
{   
    padding: 6px;
    height: 4px;
    width: 4px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    color: #0065FC;
}
.headpopu
{
    justify-content: space-between;
    align-items: center;
}
.fa-chart-line
{
    margin-right: 10px;
}
.headpopu i
{
    height:10px;
    width: 10px;
}
.container
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.hebergement
{
    width: 65%;
    background-color:#F2F2F2;
    border-radius: 15px;
    padding: 20px;
}
.hebergement h3
{
    cursor: pointer;
}
.hebergement h3:hover
{
    color: #0065FC;
}
.populaire
{
    width: 25%;
    background-color:#F2F2F2;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}
.flex
{
    display:flex;
}
main
{
    flex-wrap: wrap-reverse;
    min-height: 500px;
    justify-content: space-between;
}
.flexbox
{
    min-width: 200px;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}
.flexpopu
{
    flex-direction: column;
    align-content: space-evenly;
}
.flexheber
{
    align-content: space-evenly;
}
.box
{
    min-width: 27%;
    margin: 15px;
    padding: 4px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    cursor: pointer;
}
.box:hover
{
    box-shadow: 0 0 0 0;
}
.boxv1
{
    max-width: 27%;
    height: 150px;
    
}
.boxv1 .image
{
    width: 100%;
    height: 60%;
}
.boxv2
{
    width: 250px;
    height: 100px;
    position: relative;
}
.boxv2 .image
{
    width: 40%;
    height: 100%;
}
.boxv2text
{
    margin-left: 10px;
    margin-top: 10px;
    width: 60%;
}
img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.boxv1 img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.boxv2 img
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.boxv3 img
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.box .gray
{
    color:#e6e6e6;
}
.box i
{
    color: #0065FC;
}
.boxv2text span
{
    position: absolute;
    bottom: 10px;
}
.activite
{
    margin-top: 40px;
    margin-bottom: 40px;
}
.flexactivi
{
    max-width: 1100px;
    justify-content: space-between;
}
.columnactivi
{
    flex-direction: column;
    height: 400px;
    min-width: 23%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxv3
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    flex-direction: column;
}
.boxv3 .image
{   
    position: relative;
    flex: 1;
}
.boxv3 img
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.boxc10, .boxc30
{
    height: 100%;
}
.boxc41, .boxc42
{
    height: 45%;
}
.boxc21
{
    height:55%;
}
.boxc22
{
    height:35%;
}
.boxv3text
{
    min-height: 25px;
    padding: 5px;
}
footer
{
    background-color:#F2F2F2;
}
.footer
{
    justify-content: space-around;
}
.flexfooter
{
    flex-direction: column;
    padding: 20px;
}
.footer a:hover
{
    color: #0065FC;
}


@media screen and (max-width: 1020px)
{
    .hebergement
    {
        width: 100%;
        margin-top: 10px;
    }
    .populaire
    {
        width: 100%;
    }
    .flexpopu
    {
        flex-direction: row;
        min-height: auto;
    }
    header
    {
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    .reservia
    {
        margin-left: 20px;
    }
    .top
    {
        margin-top: 50px;
    }
    .nav
    {   
        flex-basis: 100%;
        order: 2;
    }
    .navlink
    {
        border-bottom: 3px solid transparent;
        padding: 20px 20%;
    }
    .navlink:hover
    {
        border-bottom: 3px solid #0065FC;
        border-top: 3px solid transparent;
    }
    .submitIcon
    {
        display: none;
    }
    .boxv2
    {
        max-width: 27%;
        height: 200px;
        flex-direction: column;
    }
    .boxv2text
    {
        margin-left: 0px;
        margin-top: 0px;
        width: unset;
    }
    .boxv2 .image
    {
        width: 100%;
        height: 60%;
    }
    .boxv2 img
    {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0px;
    }
}
@media screen and (max-width: 740px)
{
    body
    {
        margin: 0px;
        
    }
    header
    {
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    .reservia
    {
        margin-left: 20px;
    }
    .top
    {
        margin-top: 50px;
        width: 95%;
    }
    .submit
    {
        display: none;
    }
    .submitIcon
    {
        display: flex;
        border: 0px transparent solid ;
        background-color: #0065FC;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
    }
    .submitIcon i
    {
        padding: 6px;
        color: white;
        margin-left: -2px;
        width: 13px;
        height: 13px;
        align-items: center;
        justify-content: center;
    }
    .filtresection
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .hebergement
    {
        background-color: white;
    }
    .populaire
    {
        border-radius: 0px;
    }
    .footer
    {
        flex-direction: column;
    }
    .boxv1, .boxv2,.boxv3
    {
        min-width: 100%;
    }
    .activite h2
    {
       margin-left: 10px;
    }
    .columnactivi
    {
        width: 95%;
        height: auto;
    }
    .boxv3
    {
        height: 150px;
        
        margin-left: 10px;
        margin-bottom: 20px;
    }
    .nav
    {   
        flex-basis: 100%;
        order: 2;
    }
    .navlink
    {
        border-bottom: 3px solid transparent;
        padding: 20px 20%;
    }
    .navlink:hover
    {
        border-bottom: 3px solid #0065FC;
        border-top: 3px solid transparent;
    }
}