@font-face {
    font-family: 'raleway';
    src:url(../fonts/raleway.ttf)
}
body
{
    font-family: 'raleway';
}
*
{
    border: 1px black;
}
.hebergement
{
    width: 60%;
    height: 50%;
    border: 1px black;
    background-color: brown;
}
.flex
{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.box
{
    width: 30%;
    border: 1px black;
    background-color: blue;
}