@font-face {
    font-family: 'raleway';
    src:url(../fonts/raleway.ttf)
}
body
{
    font-family: 'raleway';
}
*
{
}

.hebergement
{
    width: 60%;
    height: 50%;
    min-width: 260px;
    background-color:#F2F2F2;
    border-radius: 15px;
}
.populaire
{
    width: 30%;
    height:50%;
    min-width: 260px;
    background-color:#F2F2F2;
    border-radius: 15px;
}
.flex
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.middle
{

    flex-wrap: wrap-reverse;
    min-height: 500px;
    padding: 50px;
    min-width: 260px;
}
.flexbox
{

}
.flexpopu
{
    flex-direction: column;
    min-height: 450px;
}
.flexheber
{
    min-height: 450px;
}
.box
{

    padding: 2px;
    margin: auto;
    min-width: 200px;
    border-radius: 15px;
}
.boxv1
{
    width: 30%;
    height: 20%;

}
.boxv2
{
    height: 30%;

}
.boxv3
{
    height: 30%;


}
